@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TROX';
  src: url('/assets/Trox-R.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-poppins: "Poppins", sans-serif;
  --color-bg-primary: #EFF1F4;
  --color-bg-secondary: #141414;
  

  --color-text-primary: #EFF1F4;
  --color-text-secondary: #141414;
  --color-border-neutral: #D4D5D8;
  --color-brand-primary: #8d4b4b;
}

body {
  font-family: var(--font-poppins);
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  background: linear-gradient(90deg, #1c1c1c 25%, #2c2c2c 50%, #1c1c1c 75%);
  background-size: 200% 100%;
  animation: shimmer 1.6s infinite linear;
}




