@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif;
  --color-bg-primary: #EFF1F4;
  --color-bg-secondary: #141414;
  

  --color-text-primary: #EFF1F4;
  --color-text-secondary: #141414;

  



}

body {
  font-family: var(--font-poppins);
}




